
<%= render :partial => 'shared/search' %>

   <div class="middle">
                    <div class="content">

                        <div class="feed">
                            <div class="feed-item">
                                <ul class="tags">
                                    <li><a href="#"follow>Mexicana</a></li>
                                    <li><a href="#">Aerospace</a></li>
                                    <li><a href="#">More Tags</a></li>
                                </ul>
                                <a class="title-name">
                                    Mexicana subio 23% de ingressos
                                </a>
                                <div class="info">
                                    <a href="#">Description here...</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar">
						
						<a href="#" class="follow" id="changefollow"><span>Follow This Question</span></a>
						<!-- To switch from Follow button to Unfollow button, just change the class! -->
						<!-- <a href="#" class="unfollow"><span>Unfollow This Question</span></a> -->
                        <div id="bag-section" class="section">
                            <h5>Related Questions</h5>
                            <ul>
                                <li>
                                <a href="#">
                                    <span class="name">Sample Question</span>
                                    <span class="val">More</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">PEMEX</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">OJO</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        
						<div class="social-media">
							<ul>
								<li><a href="#" class="twitter">Twitter</a></li>
								<li><a href="#" class="email">Email</a></li>
								<li><a href="#" class="in_social">Linked In</a></li>
							</ul>
						</div>
						
                        <div id="notification-section">
                            <h5>Question Stats</h5>
                            <div class="text">
                            	<p>Latest activity <a href="#">6:19pm on Saturday</a>.</p>
                                <p>This question has been viewed <strong>28</strong> times.</p> 
                                <p><strong>8</strong> people are following this question..</p>
                            </div>
                        </div>
                        
                    </div>
                </div>