<% @feed = Feed.find(params[:id]) %>
<% @categories = Categorization.find_all_by_feed_id(params[:id]) %>

<%= render :partial => 'shared/search' %>

   <div class="middle">
                    <div class="content">

                        <div class="feed">

                            <div class="feed-item">
                                <ul class="tags">
					<% i = 0 %>
					<% while @categories[i] %>    
                                    <li><a href="#"follow> <%= Topic.find(@categories[i].topic_id).name %></a></li>
					<% i = i+1 %>
					<% end %>

                                </ul>

                                <a class="title-name">
                                    <%= @feed.name %>
                                </a>
                                <div class="info">
                                    <a href="#"> <%= @feed.description %></a> 
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="sidebar">
						
						<a href="#" class="follow" id="changefollow"><span> Sigue </span></a>
                        <div id="bag-section" class="section">
                            <h5>Related Questions</h5>
                            <ul>
                                <li>
                                <a href="#">
                                    <span class="name">Sample Question</span>
                                    <span class="val">More</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">PEMEX</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                                <li>
                                <a href="#">
                                    <span class="name">OJO</span>
                                    <span class="val">0.02%</span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        
						<div class="social-media">
							<ul>
								<li><a href="#" class="twitter">Twitter</a></li>
								<li><a href="#" class="email">Email</a></li>
								<li><a href="#" class="in_social">Linked In</a></li>
							</ul>
						</div>
						
                        <div id="notification-section">
                
 <h5>Statisticas</h5>
                            <div class="text">
                                <p>Latest activity <a href="#">6:19pm on Saturday</a>.</p>
                                <p> Esta página ha sido vista <strong>28</strong>  veces .</p>
                                <p><strong>8</strong> personas están siguiendo este tema..</p>
                            </div>


                        </div>
                        
                    </div>
                </div>
