<h1>Listing registers</h1>

<table>
  <tr>
  </tr>

<% @registers.each do |register| %>
  <tr>
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New register', new_register_path %>