<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html>
  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <h1>Bienvenido a contacto.heroku.com, <%=h @user.first_name %></h1>
  <p>  Se ha inscrito exitosamente a contacto.heroku.com, tu usuario es: <%= @user.screen_name %>.
  <br/>
  Para entrar al sitio haga 'click' en el siguiente enlace: <%= @url %> </p>
  <p>¡Gracias por su preferencia, que tenga un buen día!</p>
  </body>
 </html> 
