#header li span.mobile a {
    color: #777;
    /* color: #EC0707;
    font-weight: bold;*/
}

.post-wide {
    float:center;
    width:100px;
    padding:30px 30px 30px 30px;
}
.post-wide:hover {
    color: #d91a1a;
}

#buslogo{
position:absolute; 
top:-7px;
}
body .product-adds{
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

/* product ads */

a .product-adds{
    color:#20558a;
    text-decoration:none;
}
a:hover{
    color:#20558a;
    text-decoration:none; 
} 
.demo 
{ 
    float:right; padding:4px; margin-top:5px; margin-right:30px; background-color:#FFCC99; color:#982800; border:#982800 solid 2px;
}
*{margin:0;padding:0;}
#dragme
{
    width:229px; height:129px; background:url(dragmelogo.png) no-repeat; border:4px solid #666666
}
*{margin:0;padding:0;}
#facebook{
    height:180px;
    width:250px;
    overflow:hidden;        
    padding:6px 10px 14px 10px;;
}   
#facebook li{
    border:0; margin:0; padding:0; list-style:none;
}
#facebook li{
    height:60px;
    padding:5px;
    list-style:none;
}
#facebook a{
    color:#000000;
    text-decoration:none;
    }
    #facebook .user-title{
        display:block;
        font-weight:bold;
        margin-bottom:4px;
        font-size:11px;
        color:#36538D;
    }
    #facebook .addas{
        display:block;
        font-size:11px;
        color:#666666;
    }
    #facebook img{
        float:left;
        margin-right:14px;
        padding:4px;
    }
    #facebook .del
    {
        float:right; font-weight:bold; color:#666666
    }
    #facebook .del a
    {
        color:#000000;
    }
    #facebook .del a:hover
    {
        background-color:#36538D;
        padding-left:1px;
        padding-right:1px;
        color:#ffffff;
    }

/* product ads */

    .autocomplete-w1 { background:url(img/nada.gif) no-repeat bottom right; position:absolute; top:1px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
    .autocomplete { border:2px solid #25A0CC; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:hidden; margin:-6px 12px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
    .autocomplete .selected { background:#F0F0F0; }
    .autocomplete div { background:url(img/person2.jpg) padding:30px 30px; white-space:nowrap; }
    .autocomplete strong { font-weight:normal; color:#3399FF; line-height: 2em;}
    a{
        outline: none;
        cursor: pointer;
}


html, body, ul, ol, li, p, form, blockquote, dl, dd, img, h1, h2, h3, h4, h5, h6  {
    margin:0;
    padding:0;
    list-style:none;
}

dd, blockquote {  
    margin-left: 1em;  
}


fieldset {  
    border: none;  
}

input, select, textarea {  
    font-size: 100%;  
    font-family: inherit;  
}

@font-face {
    font-family: 'MergeRegular-1';
    src: url('merge.eot');
    src: local('☺'), url('merge_font1.ttf') format('opentype');
}
@font-face {
    font-family: 'MergeRegular-2';
    src: local('☺'), url('merge_font2.ttf') format('opentype');
}

/* default styles */
.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.alignleft {
    float: left
}
.alignright {
    float: right
}
img.alignleft {
    margin:3px 20px 10px 0
}
img.alignright {
    margin:3px 0 10px 20px
}
.text-right {
    text-align:right
}
.text-left {
    text-align:left
}
.text-center {
    text-align:center
}
.clear {
    clear:both
}

p {
    padding: 10px 0;
}

hr {
    height:1px;
    color:#d6d6d6;
    background:#d6d6d6;
    padding:0;
    margin:15px 0;
    border:none;
}

hr.dotted-grey {
    border-top: 1px dotted #AAA;/*CDCDCD;*/
    background: none;
}

a {
    color:#25A0CC;
    text-decoration:none}

a:hover {
    color:#89b229
}

h1, h2, h3, h4, h5 {
    color:#495062;
    font-weight:normal}

h1 {
    font-size:36px;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;}

h2 {
    font-size:26px}

h3 {
    font-size:20px}

h4 {
    font-size:18px}

h5 {
    color:#444444;
    font-size:13px;
    font-weight:bold;
    margin-bottom:12px;
}

table {
    color: #555;
}

table td.rJust {
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}

table td label {
    font-weight: bold;
}

table td.odd {
    background-color: #F5F5F5;
}

table td.hovered {
    background-color: #ecffef;
    color: #666;
}

div.table-wrap {
    padding: 0 14px;
}

th.sortable span {
    float:right;
    height:10px;
    margin-right:5px;
    width:7px;
}

th.sort-carat-both span {
    background-image: url("../images/sort_both.png");
}

th.sort-carat-up span {
    background-image: url("../images/sort_asc.png");
}

th.sort-carat-down span {
    background-image: url("../images/sort_desc.png");
}

/*--------- layout */
body {
    font: 13px Arial,Helvetica,Sans-serif;
    background:#f2f6f7;
    color:#656565}

.container {
    width:996px;
    margin:0 auto;
    position:relative;}

.bodywrap {
    height:100%;
    background:url(../images/body_top_small.jpg) top repeat-x}

/*--------- header */

#header {
    background-color: #222;
    border-bottom:4px solid #25A0CC;
    height:50px;
}

#header h1 {margin:0 0 0 60px; padding:0; display:inline; }

#header .links {
    margin:0 auto;
    overflow:hidden;
    padding-top:18px;
    width:996px;
}

#header ul {
    font-size:14px;
}

ul#search_categories {
    float: left;
    font-weight:bold;
}

#header ul.site {
    float: right;
}

#header ul li {
    display: block;
    float: left;
    margin: 0 24px 0 0;
}

#header ul.site li {
    margin: 0 0 0 8px;
}

#header li span.sep {
    color: #777;
}

#header ul.site a {
    color: #fff;
    padding-bottom: 2px;
}

#header ul.site a:hover {
    border-bottom: 1px solid #77EF27;
}

#header li div {
    color: #fff;
}

ul#search_categories div:hover {
    color: #89b229;
    cursor: pointer;
}

ul#search_categories li.active div {
    background:url("../images/subnav_btn.gif") no-repeat scroll center bottom transparent;
    color:#89b229;
    padding-bottom:10px;
}

/* --------- remove ---------- */
.header {
    padding-top:6px;
    height:154px}

.logo {
    width:496px;
    float:left}

/*--------- top slider content */
.slide-title {
    display:block;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:36px;
    line-height:40px;
    color:#fff;
    background:url(../images/line_gray.gif) bottom repeat-x;
    padding-bottom:10px}

.slide-title span {
    color:#79d7ff}

.slide-title strong {
    font-weight:normal}

.left-text {
    float:left;
    width:455px;
    padding:10px 20px 0 0;
    height:230px;
    overflow:hidden;}

.ui-tabs-panel {
    color:#3e424c}

.left-text p {
    line-height:1.6em;
    font-weight:normal;
    font-size:13px}

.right-text {
    float:left;
    width:480px}

.btn-plus {
    float:right;
    margin:20px 0 0 10px;}

/*--------- middle layout */
.middle {
    background:url(../images/middle_bg.gif) 0 0 repeat-y;
    width:960px;
    margin:0 auto;
    padding:25px 0 40px 0;
    min-height:400px}

.wrapper {
    width:100%;
    float:left}

.content {
    margin:0 0 0 200px;
    padding-left:14px}

.text {
    padding-left:32px}

.navigation {
    width:214px;
    float:left;
    margin-left:-960px;}

/*--------- homepage */ 
.homepage {
    background:url(../images/body_top.jpg) top repeat-x}

.homepage .header {
    padding-top:6px;
    height:104px}

.homepage .middle {
    background:none;
    margin:0 auto;
    padding:50px 0 40px 0}

.homepage .content {
    margin:0 310px 0 0;
    padding-right:40px}

.homepage .navigation {
    width:310px;
    float:left;
    margin-left:-310px;}

/*--------- one column layout (pricing) */ 
.onecolumn .header {
    padding-top:6px;
    height:104px}

.onecolumn .middle {
    background:none;
    margin:0 auto;
    padding:50px 0 40px 0;}

.onecolumn .price-columns {
    margin-top:-32px}

/*--------- content topbox */
.topbox {
    margin:-90px 0 30px 15px;
    position:relative;
    background:url(../images/topbox_bg.gif) right 70px no-repeat;
    height:335px;}

.topbox-image {
    float:left;
    width:484px;
    height:335px;}

.topbox-right {
    width:240px;
    float:left;
    padding-top:100px;}

.topbox-text {
    padding:0 30px 0 30px;
    height:160px;
    font-weight:normal;
    font-size:13px;
    line-height:1.4em}

.topbox-title {
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    color:#495062;
    font-size:25px;
    font-weight:normal}

.btn-video {
    display:block;
    background:url(../images/btn-watch-video.gif) no-repeat;
    width:154px;
    padding-right:30px;
    height:30px;
    line-height:30px;
    color:#79d7ff;
    text-align:center;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:16px;
    margin:5px auto}

/* content boxes */
.horizontal-box {
    min-height:80px;
    margin:35px 0 30px 0}

.horizontal-image {
    width:90px;
    height:90px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    text-align:center}

.horizontal-box h2, 
.horizontal-box h3,
.vertical-box h2, 
.vertical-box h3, 
.white-box h2,
.white-box2 h2 {
    color:#25a0cc;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px}

.horizontal-box p,
.vertical-box p{
    margin:7px 0;
    font-size:13px}

.vertical-box {
    width:300px;
    float:left;
    padding:30px 28px 23px 29px}

.white-box {
    background:url(../images/box-white-wide-top.gif) top no-repeat;
    width:716px;
    margin-bottom:30px}

.white-box-bot {
    background:url(../images/box-white-wide-bot.gif) top no-repeat;
    height:7px;
    font-size:1px;
    clear:both}

.white-box2 {
    background:url(../images/box-white-wide2-top.gif) top no-repeat;
    margin:10px 0 30px 0}

.white-box2-bot {
    background:url(../images/box-white-wide2-bot.gif) top no-repeat;
    height:7px;
    font-size:1px;
    clear:both}

.col-2 {
    width:420px;
    float:left;
    margin:0 20px;
    padding:30px 10px 20px 10px}

.col-2 p{
    line-height:1.4em;
}

.white-box2 .col-2 {}

.text .white-box ul {
    padding:0}

.nobg {
    background:none}

/*--------- content styles */
.upper-title {
    color:#bfbfbf;
    font-size:12px;
    text-transform:uppercase;}

.content h1 {
    margin:0 0 20px 0;
    font-size: 27px}

.text ul,
.text ol{
    padding:10px 0 5px 40px}

.text ul li {
    list-style:disc;
    margin-bottom:7px}

.text ol li {
    list-style:decimal;
    margin-bottom:7px}

.align-right {
    text-align: right;
}

.fl-right {
    float: right;
}

.blue {
    color:#25a0cc}

.content .text {
    line-height:1.4em;
    color:#656565;}

.text-big {
    font-size:17px;
    line-height:24px;
    font-weight:normal;
}

.mobile-box {
    background:url(../images/home_mobile_box.jpg) no-repeat;
    width:610px;
    height:190px;
    position:relative;
    line-height:1.6em;
}

.box-text {
    position:relative;
    top:20px;
    left:185px;
    width:395px;
    height:130px;
    overflow: hidden}

.box-text p {
    margin:0;
    padding:8px 0;}

.two-columns {
    width:600px;
    padding:40px 0 10px 10px}

.two-columns h2 {
    font-size:12px;
    text-transform:uppercase;
    color:#bfbfbf;
    font-family:Arial, Helvetica, sans-serif;}

.two-columns h3 {
    margin:5px 0;
    border-bottom:1px solid #d9ddde;
    padding-bottom:7px;
    font-size:19px;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;}

.two-columns h3 a {
    color:#000;}

.two-columns h3 a:hover {
    color:#79b016}

.two-columns .col-1 p,
.two-columns .col-1 p{
    line-height: 1.4em;
}

.two-columns .col-1,
.two-columns .col-1{
    width:280px;
    float:left;
    color:#656565;
}

.two-columns ul {
    margin-right:40px;}

.two-columns li {
    border-bottom:1px solid #d9ddde;
    margin-bottom:5px;
    background:url(../images/dot-blue.gif) 0 7px no-repeat;
    padding:3px 0 5px 13px;
    font-weight:bold}

.two-columns li:hover {
    background:url(../images/dot-green.gif) 0 7px no-repeat;}

.gutter {
    width:40px;
    min-height:1px;
    float:left}

.two-columns .list-icons li {
    padding-top:6px;
    height:22px}

.two-columns .ico-arr,
.two-columns .ico-arr:hover {
    background:url(../images/arrow-1.gif) 3px 0 no-repeat;
    padding-left:40px;}

.two-columns .ico-pdf,
.two-columns .ico-pdf:hover {
    background: url(../images/icon-pdf.gif) 0 0 no-repeat;
    padding-left:40px;}

.idle-field input, input.idle-field {
    color: #888 !important;
    font-style: italic;
}

span.btn-slide {
    background:url("../images/btn-black.gif") no-repeat scroll 0 0 transparent;
    color:#FFF;
    display:inline-block;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:17px;
    height:30px;
    line-height:30px;
    margin:5px auto;
    padding-left:29px;
    width:94px;
    cursor:pointer;
}

span.btn-slide:hover {
    background:url("../images/btn-black-hover.gif") no-repeat scroll 0 0 transparent;
}

ul.btn-slide-menu {
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    background-color:#333333;
    border:1px solid #111111;
    font-size:12px;
    position:absolute;
    right:19px;
    top:46px;
    width:112px;
}

ul.btn-slide-menu li {
    border-bottom:1px solid #444444;
    border-top:1px solid #252525;
    padding:7px 5px 7px 12px;
}

ul.btn-slide-menu li:hover {
    background-color: #222;
}

ul.btn-slide-menu li a {
    color: #fff;
}

span.btn-blank {
    background:url("../images/btn-blank.gif") no-repeat scroll 0 0 transparent;
    display:inline-block;
    height:33px;
    margin-right:8px;
    width:85px;
}

span.btn-blank:hover {
    background:url("../images/btn-blank-hover.gif") no-repeat scroll 0 0 transparent;
}

span.btn-blank p {
    color:#FFFFFF;
    font-family:"MergeRegular-1","MergeRegular-2",Arial,sans-serif;
    font-size:16px;
    font-weight:bold;
    padding:8px 0 0;
    text-align:center;
}

.unfollow {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:url("../images/feed-more.gif") repeat-x scroll left top #D8D8D8;
    border-color:#BBBBBB #BBBBBB #999999;
    border-style:solid;
    border-width:1px;
    color:#333333;
    cursor:pointer;
    font-size:0.9em;
    font-weight:bold;
    text-align:center;
    text-shadow:0 1px #F0F0F0;
}

.unfollow:hover {
    border-color: #888888 #888888 #666666;
}

.btn-grey {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:url("../images/feed-more.gif") repeat-x scroll left top #D8D8D8;
    border-color:#BBBBBB #BBBBBB #999999;
    border-style:solid;
    border-width:1px;
    color:#333333;
    cursor:pointer;
    font-size:0.9em;
    font-weight:bold;
    text-align:center;
    text-shadow:0 1px #F0F0F0;
}

.btn-grey:hover {
    border-color: #888888 #888888 #666666;
}

/* content boxes (ie. contact and company page) */ 
.pane {
    background:none repeat scroll 0 0 #FFFFFF;
    margin:0 0 10px;
    width:100%;
    clear: both;
}

.pane .title {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    background:url("../images/blue_bg.png") repeat scroll 0 0 transparent;
    border:1px solid #0E4F74;
    color:#FFFFFF;
    font-weight:bold;
    margin-bottom:-2px;
    padding:7px 12px;
    position:relative;
}

.pane .body {
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    border:1px solid #A6C1D0;
    padding:12px;
}

.pane .body.gradient {
    background: -moz-linear-gradient(
    center bottom,
    rgb(214,232,235) 13%,
    rgb(248,250,250) 79%
    );
    background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.13, rgb(214,232,235)),
    color-stop(0.79, rgb(245,250,250))
    );
}

/* company and contact */
body.contact .middle, body.company .middle {
    background:none repeat scroll 0 0 #FFFFFF;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    margin:0;
    min-height:0;
    overflow:hidden;
    padding:15px 15px 5px;
    width:966px;
}


/* mainly for ul li's */
.item {
    border-top: 1px solid #ddd;
    padding: 6px 0;
}

.timestamp {
    font-size:10px;
    color: #777777;
}

/*--------- navigation left */
.left-menu,
.blogmenu {
    width:195px;
    font-size:14px;
    font-weight:bold;
    padding-bottom:40px}

.left-menu a {
    color:#25a0cc;
    display:block;
    padding:0 0 0 17px;
    min-height:38px;
    line-height:38px;
    border-bottom:1px solid #e4e4e6}

.left-menu a:hover,
.left-menu .active a:hover,
.blogmenu a:hover {
    color:#7ba121}

.left-menu .active a {
    background:url(../images/left-menu-active.gif) 0 center no-repeat;
    color:#797c80;
    border-bottom:none}

.left-menu h3,
.blogmenu h3 {
    font-size:22px;
    padding:0 0 10px 17px;
    border-bottom:1px solid #e4e4e6}

.blogmenu li {
    border-top:1px solid #fff;
    border-bottom:1px solid #e4e4e6;
    padding:10px 0 10px 17px;}

.blogmenu .active a {
    color:#89b229}

.blogmenu a {
    color:#25a0cc;}

.navigation .widget_search h3 {
    border:none;
    margin-bottom:0}

.stext {
    background:url(../images/bg_search_text.gif) no-repeat;
    width:170px;
    height:25px;
    padding:6px 5px 0 6px;
    margin-left:5px;
    color:#9da0a4;
    border:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    font-style:italic;}

.social-list {
    padding:5px 0 5px 15px}
.social-list img {
    margin:2px}

/*--------- navigation right */
.login p {
    margin:0;

    padding:12px 15px;
    font-size:12px;
    font-weight:bold}

.testimonials {
    margin:30px 0 20px 0;
    line-height:1.4em}

.testimonials .quote {
    font-style:italic;
    font-weight:normal;
    width:308px}

.testimonials .author {
    color:#89b229}

.testimonials em {
    color:#656565;
    font-weight:bold}

.navigation h3 {
    border-bottom:1px solid #d9ddde;
    color:#484f61;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;}

.btn-more {
    display:block;
    background:url(../images/btn-more.gif) no-repeat;
    width:128px;
    height:30px;
    line-height:30px;
    color:#79d7ff;
    text-align:center;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:16px;}

.recent-posts {
    background:url(../images/box-posts-bot.gif) bottom no-repeat;
    margin:50px 0 30px}

.recent-posts-top {
    background:url(../images/box-posts-top.gif) bottom no-repeat;
    height:5px;}

.recent-posts .space {
    padding:5px 15px}

.recent-posts h3 {
    color:#bfbfbf;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    text-transform:uppercase;
    border-bottom:none;
    font-weight:bold}

.recent-posts li {
    border-top:1px solid #e8eae9;
    padding:6px 0;
    font-size:12px;
    line-height:1.4em;
    background:url(../images/arrow-2.gif) right center no-repeat;}

.recent-posts .author {
    color:#777;
    font-size:11px;
    font-weight:bold}

.recent-posts li a {
    font-weight:bold}

/*--------- footer */
.footer {
    background:url(../images/footer_bg.gif) top repeat-x #0a0e11;
    min-height:220px;
    clear:both}

.footer .container {
    background:url(../images/footer_bg_center.jpg) center top no-repeat;
    min-height:220px;
    padding-top:50px;}

.footer a {
    color:#737373;
    text-decoration:none}

.footer a:hover {
    color:#ccc}

.footer h3 {
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:20px;
    margin-bottom:10px;
    color:#fff;
    border-bottom:1px solid #363a3b;
    padding-bottom:10px}

.footer ul {
    padding:2px 0 5px;
    font-size:13px}

.footer li {
    margin-bottom:10px}

.cols {
    width:126px;
    float:left;
    margin-left:25px}

.fcol-5 {
    width:290px;
    margin-left:60px;
    float:right}

.icons-fallow img {
    margin:2px 5px 0 0;}

.copyright {
    color:#434343;
    background:url(../images/footer_logo.gif) right top no-repeat;
    padding:10px 50px 10px 0;
    height:50px;
    margin:10px 0 0 0;
    line-height:1.5em}

.copyright p {
    display:block;
    margin:0;}

/* contact form */
.contact-form {
    width:600px}

.contact-form input, 
.contact-form textarea {
    border:none;
    color:#666;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px}

.contact-form label {
    display:block;
    width:70px;
    float:left;
    text-align:right;
    padding-right:5px;
    height:25px;
    line-height:25px;
    font-weight:bold}

.inputtext {
    width:50%;
    float:left;
    height:25px;
    margin:0;
    padding:15px 0}

.inputtext input {
    background:url(../images/bg_input.gif) no-repeat;
    width:210px;
    height:21px;
    padding:4px 3px 0 4px;
    float:left}
    
    
.inputreg {
    width:50%;
    float:left;
    height:25px;
    margin:0;
    padding:15px 0
    background:url(../images/bg_input.gif) no-repeat;
    width:210px;
    height:21px;
    padding:4px 3px 0 4px;
    float:left}

.textarea {
    margin:0;
    padding:15px 0}

.textarea textarea {
    overflow:auto;
    background:url(../images/bg_textarea.gif) 0 0 no-repeat;
    width:509px;
    height:145px;
    padding:5px 4px} 

.btn-send input {
    background:url(../images/btn-bg-submit.gif) no-repeat;
    width:184px;
    height:30px;
    cursor:pointer;
    line-height:30px;
    color:#79d7ff;
    text-align:center;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:16px;}

.btn-send input:hover {
    color:#89b229}

.notice-field {
    display:block;
    float:left;
    padding-left:75px}

/* contact info box */
.contact-info {
    margin:0 5px;
    line-height:1.4em}

.contact-info h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    font-weight:bold;
    color:#797c80;
    padding:0 0 7px 0;
    margin-bottom:5px;
    border-bottom:1px solid #e3e3e4}

.contact-info .row {
    clear:both;
    padding:10px 0;
    border-bottom:1px solid #e3e3e4}

/* pricing style */
.price-columns .col-1 {
    float:left;
    width:280px;
    margin:0 20px;}

.black-box {
    width:280px;
    min-height:386px;
    color:#6c7689;
    margin-bottom:20px}

.black-box-content {
    background:url(../images/black_box_bg.png) bottom no-repeat;
    padding-bottom:37px;}

.black-box-title {
    height:71px;
    text-align:center;
    color:#e6e6e6;
    line-height:71px;
    background:url(../images/black_box_bg_top.png) 0 0 no-repeat;
    overflow:hidden}

.black-box-title h2 {
    color:#e6e6e6;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Geneva, sans-serif;
    font-size:30px;
    text-shadow:#181a20 0px 1px 5px;
    padding-top:12px}

.black-box-intro {
    height:43px;
    font-size:13px;
    padding:10px 5px 0 5px;
    text-align:center;
    color:#717b8f;
    font-style:italic;}

.black-box-list {
    min-height:176px}

.black-box-list li {
    height:32px;
    line-height:32px;
    color:#b8bcc5;
    display:block;
    padding:0 44px 0 44px;
    overflow:hidden}

.black-box-list .active {
    background:url(../images/ico-check.gif) 238px 8px no-repeat}

.black-box-list .notactive {
    background:url(../images/ico-x.gif) 238px 9px no-repeat}

.black-box-list .even {
    background-color:#333643}

.black-box-more {
    height:56px;
    padding-top:30px;
    text-align:center}

.black-box-more a {
    background:url(../images/btn-bg-more.gif) 0 0 no-repeat;
    display:block;
    width:184px;
    height:26px;
    text-align:center;
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:15px;
    color:#98ca00;
    line-height:24px;
    margin:auto}


.icon-box {
    background:url(../images/ico-free.gif) 0 0 no-repeat;
    height:80px;
    margin-bottom:40px}

.icon-box h3{
    font-size:20px;
    padding-top:15px;
    font-weight:bold}

.icon-box h3 a {
    color:#25a0cc}

.ico-signup h3 a {
    color:#97d000}

.icon-img {
    width:70px;
    height:80px;
    overflow:hidden;
    float:left;
    margin-right:10px}

/* post styles */
.post {
    clear:both;
    padding-bottom:60px;}

.post-title h1,
.post-title h2{
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:26px;
    margin:0 0 10px 0;
    color:#000;}

.post-title h2 a {
    color:#000;}

.post-title h2 a:hover {
    color:#7ba121}

.post-meta {
    color:#afb2b5;
    margin-bottom:10px;
    font-size:12px;
    font-weight:bold}

.post a {
    color:#25a0cc}

.post a:hover{
    color:#89b229}

.post-entry {
    padding:5px;
    line-height:1.6em}

.post-entry img.alignleft {
    margin:5px 15px 10px 0}

.post-entry img.alignright{
    margin:5px 0 10px 15px}

.post-entry img.aligncenter {
    margin:10px 0 10px 0;}

.post-meta-bot {
    text-align:right;
    margin-bottom:40px}

.post-meta-bot .btn-more {
    float:left}

a.link-comments {
    padding-top:5px;
    background:url(../images/ico-comments.gif) 0 5px no-repeat;
    padding-left:25px;
    font-size:12px;
    display:block;
    height:18px;
    width:100px;
    float:right;
    text-align:left;
    font-weight:bold}

.post-entry h2,
.post-entry h3, 
.post-entry h4, 
.post-entry h5 {
    margin:30px 0 15px 0;
    color:#70747b;
    font-weight:normal}

.post-entry h2 {
    font-size:21px}

.post-entry h3 {
    font-size:19px}

.post-entry h4 {
    font-size:18px}

.post-entry h5 {
    font-size:16px;
    font-weight:bold}

.post-entry blockquote {
    background:#e5eaeb;
    border-left:3px solid #adb0bd;
    padding:5px 10px 5px 20px;
    margin-bottom:10px}

.post-entry blockquote p {
    margin:7px 0}

.post-entry blockquote blockquote {
    background:#fff}

.related-list {
    padding-bottom:20px}

/* comment list */
.related-list h2,
.comment-list h2,
.comment-form h2 {
    font-family: "MergeRegular-1", "MergeRegular-2", Arial, sans-serif;
    font-size:23px;
    color:#222;
    margin-bottom:5px}

.comment-one {
    margin:-30px 0 20px 0;
    width:716px}
    
    .comment-one-reg {
    margin:30px 0 40px 0;
    width:716px}

.comment-box {
    background:url(../images/box-comm-top.gif) 0 0 no-repeat #fff;
    padding:15px 6px 7px 30px;}

.comment-box-reg {
    background:url(../images/box-comm-top.gif) 0 0 no-repeat #fff;
    padding:75px 15px 7px 20px;}

.comment-bot {
    background:url(../images/box-comm-bot.gif) 0 0 no-repeat;
    height:7px;
    font-size:1px;
    clear:both}

.reply {
    width:674px;
    padding-left:40px;
    background:url(../images/ico-reply.gif) 10px 0 no-repeat}

.comment-meta {
    color:#25a0cc;
    font-size:12px;
    position:relative}

.author {
    color:#25a0cc;
    font-size:12px;
    font-weight:normal}

.comment-date {
    color:#c2c6cb;
    display:block;
    padding:5px 0}

a.link-reply {
    background:url(../images/ico-arrow.gif) left center no-repeat;
    padding-left:10px;
    color:#25a0cc;
    font-size:13px;
    font-weight:bold;
    position: absolute;
    top:0;
    right:30px}

a.link-reply:hover {
    color:#89b229}

.comment-text p {
    margin:0;
    padding:5px 0}

/* comment form */
.comment-form {
    width:635px;
    margin:40px 0 10px 0}

.comment-form input,
.comment-form textarea {
    border:none}

.comment-form .inputtext {
    display:block;}

.comment-form .inputtext input {
    background:url(../images/bg_input_comm.gif) 0 0 no-repeat;
    width:257px;
    height:27px;
    padding:10px 10px 0 10px;
    color:#999ca0;
    font-size:13px;
    font-weight:bold;
    font-style:italic}

.comment-form .textarea textarea {
    background:url(../images/bg_textarea_comm.gif);
    width:576px;
    height:97px;
    overflow:auto;
    padding:10px;
    font-size:13px;
    font-weight:bold;}

/* search bar */
.search {
    float:left;
    margin:18px 0 18px 0;
    position:relative;
}

#search_form .wrap {
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    background:none repeat scroll 0 0 #FFFFFF;
    border:2px solid #AAAAAA;
    float:left;
    overflow:hidden;
}

#search_form input {
    border-top: 0 none;
    border-right: 1px solid #DDDDDD;
    border-bottom: 0 none;
    border-left: 0 none;
    height:22px;
    margin:3px 27px 3px 3px;
    padding:5px 3px 0;
    width:295px;
    outline: medium none; /* remove highlight in chrome */
}

#search_form button {
    background:url("../images/search_button.png") no-repeat scroll 0 0 transparent;
    border:0 none;
    position:absolute;
    right:7px;
    top:8px;
    width:17px;
    height:19px;
    cursor: pointer;
    padding: 0;
}

#search_form .wrap.focused-field {
    border:2px solid #25A0CC;
}

/* search result page */
body.search-results .content {
    background:none repeat scroll 0 0 #FFFFFF;
    border-left:1px solid #CCC;
    border-right:1px solid #CCC;
    margin:0 auto;
    padding:0 0 5px;
    position:relative;
    width:100%;
}

#results .categories {
    border-bottom:2px dotted #DDDDDD;
    padding:12px 14px;
    margin-bottom: 12px;
    overflow:hidden;
}

#results .categories ul.filters {
    float: left;
    font-size:14px;
    font-weight:bold;
}

#results ul.filters li {
    float: left;
}

#results ul.filters a {
    color:#25A0CC;
    display:block;
    line-height:38px;
    text-align:center;
    width:95px;
}

#results ul.filters a:hover {
    color:#89b229;
}

#results ul.filters .active a {
    background:url("../images/search-category-active.gif") no-repeat scroll 0 center transparent;
    border-right:medium none;
    color:#666;
}

#results .categories div.export {
    float:right;
}

table.blue-head {
    margin-bottom: 10px;
}

table.blue-head .center {
    padding-bottom:3px;
    vertical-align:middle;
}

table.blue-head .center input {
    margin: 1px 0 4px 2px;
    padding: 0;
}

table.blue-head thead {
    background:url("../images/search-table-head.png") repeat-x scroll 0 0 transparent;
    font-weight: bold;
}

table.blue-head thead th {
    border-left:1px solid #1C719D;
    border-right:1px solid #0A4868;
    padding:7px 0 7px 5px;
    text-align:left;
    cursor:pointer;
    color: #fff;
}

table.blue-head tbody td {
    border-bottom:1px dotted #CCCCCC;
    height:28px;
    padding:2px 0 2px 5px;
}

table.blue-head tbody a {
    cursor: pointer;
}

/* account info beside search bar */
.account-info {
    float:right;
    font-size:14px;
    font-weight:bold;
    margin-top:18px;
}

.account-info a:hover {
    text-decoration: underline;
}

.account-info .unrated {
    font-weight: bold;
    color: #ec0707;
}

.account-info span {
    margin-left: 4px;
}

body.contact .content, body.company .content, body.account .content {
    float:left;
    margin:0;
    padding:0;
    position: relative;
}

body.contact .content, body.company .content.info {
    width: 650px;
}

body.company .content.directory, body.company .content.location {
    width:100%;
}

.sidebar {
    float:right;
    width:300px;
}

.sidebar .pane li {
    margin:8px 0;
}

.sidebar .pane li span {
    color:#666;
    display:block;
    font-size:13px;
}

body.company .navigation {
    background:url("../images/tab_bottom.gif") repeat-x scroll 0 100% transparent;
    float:none;
    margin:0 0 12px;
    width:100%;
}

body.company .navigation ul.tabs {
    color:#555;
    font-weight:bold;
    overflow:auto;
    padding:0 12px;
}

body.company .navigation ul.tabs li {
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    background-color:#F5F5F5;
    border:1px solid #BBB;
    display:block;
    float:left;
    line-height:28px;
    margin-right:8px;
    padding:0;
}

body.company .navigation ul.tabs li.active {
    background-color:#FFF;
    border-bottom-color: #FFF;
    padding:0 15px;
}

body.company .navigation ul.tabs li a {
    display:block;
    line-height:28px;
    padding:0 15px;
}

body.company .navigation ul.tabs li a:hover {
    text-decoration:underline;
}

body.company .actions {
    overflow: hidden;
    padding: 0 0 12px
}

body.company .actions .filtering {
    float: left;
    display: none; /* for javascript degradation */
}

body.company .actions .filtering span {
    color:#777777;
    font-weight:bold;
    margin:0 5px;
}

body.company .actions .filtering input {
    height:18px;
    margin-top:6px;
    padding:2px 4px;
    width:230px;
    outline: none;
}

/* company info */
.content.info .company-info {
    border-bottom: 2px dotted #AAAAAA; 
    padding: 0 0 12px;
    margin-bottom: 12px;
}

.content.info .company-info .info-left {
    border-right:2px dotted #AAA;/*CCCCCC;*/
    float:left;
    padding-right:10px;
    width:386px;
}

.content.info .company-info .info-right {
    float: right;
    width: 212px;
}

.content.info .btn-row {
    margin:0 auto;
    width:288px;
}

/* company directory */
.content.directory span.btn-slide {
    background: url("../images/btn-black-large.gif") no-repeat scroll 0 0 transparent;
    padding-left:12px;
    width:143px;
}
.content.directory span.btn-slide:hover {
    background: url("../images/btn-black-large-hover.gif") no-repeat scroll 0 0 transparent;
}

.content.directory ul.btn-slide-menu {
    right:7px;
    top:33px;
    width:140px;
}

/* user contact */
.business-card {
    background:url("../images/bg_business_card.png") no-repeat scroll 0 0 transparent;
    height:168px;
    margin:12px auto;
    padding:30px 35px;
    position:relative;
    width:355px;
}

.business-card .social-links {
    position: absolute; 
    right: 35px;
}

.social-links a {
    width: 33px;
    height: 33px;
    margin-left:6px;
    float:left;
    text-indent:-9999px;
}

.social-links .fb {
    background:url("../images/social/facebook.gif") no-repeat scroll 0 0 transparent;
}

.social-links .in {
    background:url("../images/social/in_social.gif") no-repeat scroll 0 0 transparent;
}

.social-links .tw {
    background:url("../images/social/twitter.gif") no-repeat scroll 0 0 transparent;
}

.business-card .name {
    float:left;
    width:240px;
}

.business-card h1 {
    margin: 0;
    font-size: 19px;
}

.business-card p {
    padding: 0;
}

.business-card .name span {
    color: #888;
    font-size: 13px;
}

.business-card .contacts {
    font-size:14px;
    line-height:20px;
    margin-top:8px;
}

.business-card .name a {
    display:block;
}

.business-card .details {
    text-align:right;
}

.business-card .details a {
    font-family:"MergeRegular-1",Arial,sans-serif;
    font-size:16px;
}

.business-card .details p.spaced {
    margin-top: 4px;
}

.business-card .details em {
    color:#777777;
    display:block;
}

body.contact .btn-download {
    margin:0 auto 10px;
    width:85px;
}

/* account */
body.account {
    background-color: #FFFFFF;
}

body.account .content {
    border-right:3px dashed #AAA;
    padding:0 204px 0 0;
    width:500px;
}

body.account .middle {
    background: #FFFFFF;
    border-top: 3px solid #C0C0C0;
    float:left;
    margin: 20px 0 0;
    padding:20px 0 10px;
    width:996px;
}

body.account .sidebar {
    width: 260px;
}

/*
This isn't specified under body.account because other pages
will probably be using this tab style too.
 */

    .large-tabs {
        float: left;
        width: 100%;
        margin-bottom: 10px;
}

.large-tabs ul {
    border-bottom:3px solid #C0C0C0;
    width:100%;
    overflow: auto;
}

.large-tabs li {
    float: left;
    width: 140px;
    padding: 6px 10px;
    margin-left: 10px;
}

.large-tabs li:hover {
    background-color: #DFEAF4;
}

.large-tabs li.active, .large-tabs li.active:hover {
    background-color: #EAEAEA;
    color: #AAAAAA;
}

.large-tabs li.first {
    margin-left: 0;
}

.large-tabs span.title {
    display:block;
    font-weight: bold;
}

.large-tabs li.active span.title {
    color: #333333;
}

.large-tabs a span.title {
    color: #19558D;
}

.large-tabs span.extra {
    font-size: 93%;
}

.large-tabs a span.extra {
    color: #538DC2;
}


body.account .feed {
    clear:both;
}

body.account .feed .feed-item {
    border-bottom:1px solid #E0E0E0;
    float:left;
    padding:10px 0;
    position:relative;
    width:100%;
}

body.account .feed .feed-item:hover {
    background-color: #f4f7f9;
}

body.account .feed .feed-item.border {
    padding: 0;
    margin-top: -1px;
    border-color: #B0B0B0;
    color:#777;
}

body.account .feed-item span.timestamp {
    left:-44px;
    position:absolute;
    top:-7px;
}

.feed-item .profile-photo {
    float: right;
}

.feed-item a.name {
    font-size:14px;
    font-weight:bold;
    color: #2985a7;
}

.feed-item a.name:hover {
    text-decoration: underline;
}

.feed-item .info {
    margin-top: 4px;
    color: #999999;
}

.feed-item ul.tags {
    float: right;
}

.feed-item ul.tags li {
    background-color: #094f7b;
    float:left;
    margin-left:5px;
}

.feed-item ul.tags li:hover {
    background-color: #0b66a0;
}

.feed-item ul.tags li a {
    color: #fff;
    padding:3px 4px;
    display:block;
}

.feed .more-button {
    margin:10px 0;
    padding:5px 0;
    width:100%;
    display:inline-block;
}

.feed .more-button:hover {
    color: #d91a1a;
}

#post_box {
    background-color:#E5EEF6;
    margin-bottom:10px;
    width:480px;
    padding:10px;
    float: left;
}

#post_box input {
    border: 1px solid #3591B3;
    font-family:Arial, sans-serif;
    color:#333333;
    width:460px;
}

#post_box input:focus {
    border: 1px solid #89B229;
    -moz-box-shadow:inset 0px 0px 5px #FFF008;
  	-webkit-box-shadow:inset 0px 0px 5px #FFF008;
		box-shadow:inset 0px 0px 5px #FFF008;
}

#post_box input#post_content {
    font-size:14px;
    padding:5px 6px;
}

#post_box #post_details {
    margin-top: 0px;
}

#post_details .disable-box {
    margin-bottom: 5px;
}

#post_details .disable-box input {
    vertical-align: bottom; 
    margin-right: 2px;
    width:20px;

}

#post_details .disable-box span {
    color: #333;
}

#post_details input[type="text"] {
    margin:4px 4px 4px 0;
    padding:5px 6px;
    width:220px;
}

#post_details input.odd {
    margin-left:4px;
    margin-right:0;
}

#post_box .actions {
    margin: 5px 0 0;
    float: right;
    position:relative;
}

#post_box .actions span {
    margin-left: 9px;
    float: left;
}

#post_box .actions ul {
    background-color:#FFFFFF;
    border:1px solid #5e81a2;
    font-size:12px;
    position:absolute;
    right:67px;
    text-align:left;
    top:21px;
    width:96px;
}

#post_box .actions li {
    padding: 5px 25px;
    color: #222;
    cursor:pointer;
}

#post_box .actions li:hover {
    background-color: #eef4f9;
}

#post_box .actions li.checked {
    background:url("../images/check.png") no-repeat scroll left 7px #C4DBF1;
    font-weight:bold;
}

#post_box .actions #post_type_btn {
    background: url("../images/post-type.png") no-repeat;
    margin-top: 5px;
    text-indent: -9999px;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

#post_box .actions #post_type_btn:hover {
    background: url("../images/post-type-hover.png") no-repeat;
}

#post_box .actions #post_type_btn.click {
    background: url("../images/post-type-click.png") no-repeat;
}

#post_box .actions #post_type_btn.error {
    background: url("../images/post-type-error.png") no-repeat;
}

#post_box .actions #post_type_btn.error:hover {
    background: url("../images/post-type-error-hover.png") no-repeat;
}

#post_box .actions #post_btn {
    padding:5px 15px;
}

#post_box .actions #post_btn:hover {
    color: #105785;
}

/* account side content */
.sidebar .section {
    color: #888;
}

.sidebar .section h5 {
    border-top:2px dotted #CCCCCC;
    padding: 15px 0 8px;
    margin: 0;
}

#notification-section {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#E5EEF6;
    border:3px solid #3591b3;
    padding:9px;
    margin-bottom: 20px;
}

#notification-section h5 {
    border-top: none;
    border-bottom:1px solid #CCCCCC;
    margin-bottom:6px;
    padding: 0 0 3px;
}

#notification-section .text {
    padding: 0 0 8px;
    color: #444;
}

#notification-section span.timestamp {
    margin-left: 2px; 
}

#notification-section .clear-button {
    font-size: 12px;
    padding: 4px 2px;
    width: 138px;
}

#notification-section .clear-button:hover {
    color:#105785;
}


#tabs-section {
    padding-bottom: 10px;
}

#tabs-section li {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:url("../images/tabs-section.gif") no-repeat scroll left center;
    clear:both;
    display:block;
    font-weight:bold;
    padding:6px 5px 6px 10px;
    margin: 0 0 2px -10px;
}

#tabs-section li.active, #tabs-section li.active:hover {
    background-color:#E0E0E0;
    color:#444444;
    cursor:default;
}

#tabs-section li:hover {
    background-color:#DFEAF4;
    cursor: pointer;
}

#tabs-section li a {
    color: #19558D;
}

#bag-section li a {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background-color:#DFEAF4;
    margin:0 0 8px;
    padding: 5px 10px;
    text-align: right;
    font-weight: bold;
    float: left;
    clear: both;
}

#bag-section li a:hover span.name {
    text-decoration: underline;
}

#bag-section li span.name {
    margin-right: 6px;
    color: #2985A7;
}

#bag-section li span.val {
    font-size: 12px;
    color: #666;
}

/* Invitations section */
#invitation-section {
    margin-top:-10px;
}

#invitation-section ol {
    background: #DFEAF4;
    display: none;
    padding:0.5em 0em;
    margin-bottom:1em;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

#invitation-section li {
    margin-bottom:0.5em; 
    padding:0.25em;
    margin-left:0.24em;
    text-align:center; 
}

#toggleInvitations.activeShow {
    background-color:#DFEAF4;
}

#invitation-section input {
    border:1px solid #CCC;
    width:80%; 
    padding:2px 4px;
}

#invitation-section input.send-button {
    width: auto;
    padding: 0.2em 0.5em;
}


/* Notifications section */
.invitation-notifications {
    background: #FFC;
    border-bottom: 3px solid #CC9;
    display:none;
}

.invitation-notifications .inside {
    padding:0.65em 1em; 
    color: #333;
}

.invitation-notifications h4 {
    color: #333;
}

.invitation-notifications .close-button {
    font-size:11px; 
    font-family: Verdana, Arial, sans-serif;
    float:right;
    padding:0.25em;
}

.invitation-notifications .close-button:hover {
    color:#000;
}

#search_form input[type=text] { 
	background:#FFF;
	background:-moz-linear-gradient(center top , #F4F4F4, #FFF 60%);
	background:-webkit-gradient(linear, left top, left bottom, from(#F4F4F4), color-stop(.6,#FFFFFF));
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#F4F4F4',EndColorStr='#FFFFFF')
}

#search_form input:focus, #search_form input:hover {background: #FFF; }


#search_form .wrap ul {list-style: none; padding:0; margin:0; display:none; border:1px solid #CCC; width: 105px; top:35px; font-weight:bold; position:absolute; z-index:1000; background: #FFF; }
	#search_form .wrap ul li {display:block; margin:3px 0px; padding:2px 0px;}
	#search_form .wrap ul li:hover {background: #EEE}
	#search_form .wrap ul li a {padding:5px 5px;}
	
	
	#activeSearch {border-right:1px solid #CCC; padding:9px 1em; background:#333; font-weight:bold; float:left; display:block; width: 80px; }
	#activeSearch a {color:#766; color: #FFF; }

	#activeSearch small a:hover {color:#FFF }
	#activeSearch input {display:none; }

	#activeSearch small {color:#666; margin-left:2px;}
	#activeSearch *:hover {color:#FFF; }


.validateText { display:block; width: 100px; float:right; border:1px solid #CCC; height:10px;}



#signupbox {
  width: 100%;
  text-align: center;
  margin: 0em auto;
}

#signupwrap {
  border: 0px solid #CACACA;
  border-top: 0;
  padding: 35px 10px 20px 150px;
  clear: both;
}
#signupform table {
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
}

#signupform label.error {
  background:url("../images/unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
  padding-bottom: 2px;
  font-weight: normal;
  font-size: 0.85em;
  color: #EA5200;
}

#signupform label.checked {
  background:url("../images/checked.gif") no-repeat 0px 0px;
}


#signupform table {
  border-spacing: 0px;
  border-collapse: collapse;
  empty-cells: show;
}

#signupform table td label {
  font-weight: normal;
}

#signupform table td {
  font-weight: normal;
}

#signupform input.textbox {
  width: 200px;
  height: 18px;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 1px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#signupform input.textbox:hover {
  border: 2px solid #aaa;
  margin: 0px;
}

#signupform input.textbox:focus {
  border: 2px solid #25A0CC;
  margin: 0px;
}

#signupform tr {
  height: 40px;
}

#signupform .label {
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  padding-right: 10px;
}

#signupform .field {
  white-space: nowrap;
  vertical-align: middle;
}

#signupform .status {
  vertical-align: middle;
  padding-left: 5px;
  width: 400px;
}

#signupform .clear-button {
    font-size: 12px;
    padding: 4px 2px;
    width: 138px;
    border-color:#BBBBBB #BBBBBB #999999;
    border-style:solid;
    border-width:1px;    
}

#signupform .clear-button:hover {
    color:#105785;
    border-color: #888888 #888888 #666666;

}


/* top menu */

.logo {
  display: block;
  float: left;
}
    
.topmenu {
	float: right;
	margin-left: 10px;
	margin-top: 20px;
}

.topmenu li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #eee;
}

.topmenu li.last {
	border-right: none !important;
}

.comment-heading {
	vertical-align: middle important!;
	margin-bottom: 20px;
}

a.btn-addcomment:hover {
	color:#fff;
}

a.btn-addcomment {
	color:#fff;
	display:block;
	font-family:"MergeRegular-1","MergeRegular-2",Arial,sans-serif;
	font-size: 14px;
	background-color: #2daebf;
	text-align:center;
	padding: 5px;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#postdialog {
	background-color: #eee;
}

#postdialog #pd-header {
	background-color: #eee;
}
#postdialog #post-desc {
	width: 400px;
	height: 120px;
	border: 1px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
}

#postdialog #pd-footer {
	text-align: right;
}

.btn {
	padding: 4px;
	display: inline-block;
}

.right-align {
	text-align: right;
}

.panel {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
