<script type="text/javascript">
jQuery.noConflict();
jQuery(document).ready(function($){     
	function updateList(){
        	if ($("#status").text() != "") {
			$.jGrowl($("#status").text(), { life: 1000 });
		}
	}
	window.setInterval(updateList, 500);
}); 
</script>
<%= periodically_call_remote(:url => { :action => 'dataUpdated', :controller => 'homes' }, :update => 'status', :frequency => '0.5') %>
<div name="status" id="status" style="display: none;"></div>

