<script type="text/javascript">
jQuery(document).ready(function($){
options = { serviceUrl:'/companies.js' };
$('#search').autocomplete(options);
});
</script>
<div class="search">

<form id="search_form" action="/companies/" method="get">
<div class="wrap">
<input id = "query" type="text" data-default="search" value=""></input>
<button type="submit"></button>
</div>
</form>

</div>

<div class="clear"></div>

