<div class="search">

<form id="search_form" action="/companies/" method="get">
<div class="wrap">
<input type="text" data-default="search" value=""></input>
<button type="submit"></button>
</div>
</form>

</div>

<div class="clear"></div>

