
<%= render :partial => 'shared/signin2' %>

  <div class="footer">
                <div class="container">

                    <div class="cols fcol-1">
                        <h3>Empresa</h3>
                        <ul>
                            <li><a href="#">Eliminar contacto</a></li>
                            <li><a href="/plans">Planes &amp; Precios</a></li>
                            <li><a href="#">Asociación</a></li>
                            <li><a href="#">Sobre Nosotros</a></li>
                        </ul>
                    </div>

                    <div class="cols fcol-2">
                        <h3>Busca</h3>
                        <ul>
                            <li><a href="#">Por Mercado</a></li>
                            <li><a href="#">Por Industria</a></li>
                            <li><a href="#">Por Nombre</a></li>  
                        </ul>
                    </div>

                    <div class="cols fcol-3">
                        <h3>Apoyo</h3>
                        <ul>
                            <li><a href="#">F.A.Q.</a></li>
                            <li><a href="#">Terminos de Uso </a></li>
                            <li><a href="#">Comunidad</a></li>  
                            <li><a href="#">Privacidad</a></li>
                        </ul>
                    </div>

                    <div class="cols fcol-4">
                        <h3>Soluciones</h3>
                        <ul>
                            <li><a href="#">Ventas</a></li>
                            <li><a href="#">Mercadotecnia</a></li>
                            <li><a href="#">Reclutamiento</a></li>
			    <li><a href="#">Empresa</a></li>
                            <li><a href="#">CRM</a></li>
                        </ul>
                    </div>

                    <div class="cols fcol-5">
                        <h3>Siganos</h3>

                        <div class="icons-fallow">
                            <a href="#"><%= image_tag("icon-facebook.gif", :alt=>"Follow us on Facebook", :width=>"93", :height=>"35") %></a> <a href="#"><%= image_tag("icon-twitter.gif",:alt=>"Follow us on Twitter", :width=>"40", :height=>"39") %></a>
                        </div>

                        <div class="copyright">
                            <p> &copy;  2010  <br />
                            Todos los derechos reservados</p>
                        </div>
                    </div>
                </div>
            </div>
