
                <!-- top-slider -->   
                <div id="topslider" class="tabs-bottom"> 
                    <ul> 
                        <li class="first"><a href="#fragment-1" class="ico-1"><span>Motor de <b>Búsqueda</b></span></a></li> 
                        <li><a href="#fragment-2" class="ico-2"><span><b>Agregar </b> y Comerciar</span></a></li> 
                        <li><a href="#fragment-3" class="ico-3"><span><b>Gestionar</b> y Analizar datos</span></a></li> 
                        <li><a href="#fragment-4" class="ico-4"><span><b>Integración</b> Empresarial</span></a></li> 
                    </ul> 
 
                    <div id="fragment-1"> 
                        <div class="left-text"> 
                            <span class="slide-title"><strong>La mayor <span>base de datos</span> </strong></span> 
                            <a href="#"><img src="images/btn_plus.gif" alt="" width="41" height="41" border="0" class="btn-plus" /></a> 
                            <p>Los datos son al día de empresas y contactos, encontrar productos y servicios que existen en el mercado. actualizada en tiempo real. precisión garantizada. sola fuente. </p> 
                        </div> 
                        <div class="right-text"> <a href="#"><img src="images/img-1.png" alt="" width="483" height="325" border="0" /></a> 
                        </div> 
                        <div class="clear"></div> 
                    </div> 
 
                    <div id="fragment-2"> 
                        <div class="left-text"> 
                            <span class="slide-title"><strong>Añadir e intercambie <span> sus conocimientos </span></strong></span> 
                            <a href="/plans"><img src="images/btn_plus.gif" alt="" width="41" height="41" border="0" class="btn-plus" /></a> 
                            <p>Usuario contribuido. Gana créditos y utilizarlos para las compras. Los datos son verificados a través de un proceso seguro </p> 
                        </div> 
                        <div class="right-text"> <a href="#"><img src="images/img-2.png" alt="" width="483" height="325" border="0" /></a> 
                        </div> 
                        <div class="clear"></div> 
                    </div> 
 
                    <div id="fragment-3"> 
                        <div class="left-text"> 
                            <span class="slide-title"><strong><span></span> </strong></span> 
                            <a href="#"><img src="images/btn_plus.gif" alt="" width="41" height="41" border="0" class="btn-plus" /></a> 
                            <p>Gestionar sus contactos, para las ventas, contratación, comercialización, relaciones con los clientes. ver datos de la industria y las estadísticas. analizar el mercado</p> 
                        </div> 
                        <div class="right-text"> <img src="images/img-4.png" alt="" width="483" height="325" border="0" /> 
                        </div> 
                        <div class="clear"></div> 
                    </div> 
 
                    <div id="fragment-4"> 
                        <div class="left-text"> 
                            <span class="slide-title"><strong><span> Conectar </span> directamente </strong> </span> 
                            <a href="#"><img src="images/btn_plus.gif" alt="" width="41" height="41" border="0" class="btn-plus" /></a> 
                            <p> conectar directamente a sus sistemas empresariales y bases de datos,localizar sus registros mal. suscribirse a las actualizaciones continuas </p> 
                        </div> 
                        <div class="right-text"> 
                            <img src="images/img-3.png" width="483" height="325" alt="" /> 
                        </div> 
                        <div class="clear"></div> 
                    </div> 
 
                    <div class="clear"></div> 
                </div> 
                <!-- top-slider --> 
 
                <!-- middle --> 
                <div class="middle"> 
 
 
                    <!-- content -->     
                    <div class="wrapper"> 
                        <div class="content"> 
 
                            <!-- top baner--> 
                            <div class="upper-title">¿PO QUE ESTE SERVICIO?</div> 
                            <h1>Acceso desde cualquier lugar, <br />incluso de su bolsillo</h1> 
 
                            <div class="mobile-box"> 
                                <div class="box-text"> 
                                    <p>Busque en la mayor base de datos de contactos y empresas desde su teléfono móvil. Llame a los contactos cuando más lo necesita <br /><a href="#"><img src="images/btn_plus_white.gif" alt="" width="35" height="35" border="0" class="alignright" /></a> Descargue la aplicación para iPhone y BlackBerry </p> 
                                </div> 
                            </div> 
 
                            <!--/ top baner-->   
 
                            <!-- two-columns --> 
                            <div class="two-columns"> 
                                <div class="col-1"> 
                                    <h2>NOTICIAS y MENSAJES</h2> 
                                    <h3><a href="#">Apoyo técnico</a></h3> 
                                    <div class="short-entry"> 
                                        <p> There's a voice that keeps on calling me. Down the road, that's where I'll always be. Every stop I make, I make a new friend. Can't stay for long, just turn around and I'm gone again. Maybe tomorrow, I'll want to settle down</p> 
                                    </div>	
                                    <ul> 
                                        <li><a href="#">Connect to Remote Support</a></li> 
                                        <li><a href="#">Via telephone: 800.898.3838</a></li> 
                                        <li><a href="#">Troubleshooting F.A.Q.</a></li> 
                                    </ul> 
 
                                </div> 
 
                                <div class="gutter"></div> 
 
                                <div class="col-1"> 
                                    <h2>¿Cómo Funciona?</h2> 
                                    <h3><a href="#">Comparación de los planes</a></h3> 
                                    <div class="short-entry"> 
                                        <p>Comprar contactos uno a uno o regístrate para acceder a servicios premium de datos. Conectar y actualización de base de datos de su empresa</p> 
                                    </div>	
                                    <ul class="list-icons"> 
                                        <li class="ico-pdf"><a href="#">Descargue la información general</a></li> 
                                        <li class="ico-arr"><a href="#">Suscribirte al plan de</a></li> 
                                    </ul> 
                                </div> 
 
                                <div class="clear"></div> 
                            </div> 
                            <!--/ two-columns --> 
 
 
                        </div> 
                    </div> 
 
                    <!--/ content -->        
 
                    <!-- navigation -->        
                    <div class="navigation"> 
 
                        <div class="login"> 
                            <a href="#"><img src="images/btn-signup.gif" alt="Free Sign Up" width="175" height="55" border="0" /></a><a href="#"><img src="images/btn-plans.gif" alt="Plans and Pricing" width="135" height="55" border="0" /></a> 
                            <p>Tienes una cuenta? <a href="#">Registrarte?</a></p> 
                        </div> 
 
                        <div class="testimonials"> 
                            <h3>What the people say?</h3> 
 
                            <p class="quote">"Great, great changes to an already amazingly good software from C3. Thanks for making this so much more amazing"</p> 
                            <p class="author"><strong>Jonathan Doe, CEO Company Name</strong></p> 
 
                            <a href="#" class="btn-more">view more</a> 
                        </div> 
 
                        <div class="recent-posts"> 
                            <div class="recent-posts-top"></div> 
                            <div class="space"> 
                                <h3>lo Mass Recient Puestos</h3> 
                                <ul> 
                                    <li> 
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur</a> 
                                    <div class="author">Steave Barnst <span>14-Feb-2010</span></div> 
                                    </li> 
 
                                    <li> 
                                    <a href="#">One for all and all for one</a> 
                                    <div class="author">Merlyn Johnes <span>14-Feb-2010</span></div> 
                                    </li> 
 
                                    <li> 
                                    <a href="#">Technical Support just got better!</a> 
                                    <div class="author">Mike Mayers <span>14-Feb-2010</span></div> 
                                    </li> 
 
                                    <li> 
                                    <a href="#">Lorem ipsum dolor sit amet</a> 
                                    <div class="author">C3Admin <span>14-Feb-2010</span></div> 
                                    </li> 
                                </ul> 
                            </div> 
                        </div> 
 
                        <div class="clear"></div> 
 
                    </div> 
                    <!--/ navigation --> 
 
                    <div class="clear"></div> 
                </div> 
                <!--/ middle --> 
 
