      <div id="topslider" class="tabs-bottom">
                    <ul>
                        <li class="first"><a href="#fragment-1" class="ico-1"><span><b>Powerful</b> Search</span></a></li>
                        <li><a href="#fragment-2" class="ico-2"><span><b>Improved</b> Trade</span></a></li>
                        <li><a href="#fragment-3" class="ico-3"><span><b>Manage</b> Contacts</span></a></li>
                        <li><a href="#fragment-4" class="ico-4"><span>Enterprise/Export</span></a></li>
                    </ul>

                    <div id="fragment-1">
                        <div class="left-text">
                            <span class="slide-title"><strong>At <span>C3</span> we are very serious about business solutions</strong></span>
                            <a href="#"><img src="images/btn_plus.gif" alt="" width="41" height="41" border="0" class="btn-plus" /></a>
                            <p>C3 is the SaaS platform built from scracth for Online Business. By replacing 3+ essential business tools with one integrated online platform, you can build exactly what your clients need sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
                        </div>
                        <div class="right-text"> <a href="#"><img src="images/img-1.png" alt="" width="483" height="325" border="0" /></a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div id="fragment-2">
                        <div class="left-text">
                            <span class="slide-title"><strong>At <span>C3</span> we are very serious about Improved eCommerce</strong></span>
                            <a href="#"><img src="images/btn_plus.gif" alt="" width="41" height="41" border="0" class="btn-plus" /></a>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <div class="right-text"> <a href="#"><img src="images/img-2.png" alt="" width="483" height="325" border="0" /></a>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div id="fragment-3">
                        <div class="left-text">
                            <span class="slide-title"><strong><span>Software as a Service</span> is the coolest kid in town</strong></span>
                            <a href="#"><img src="images/btn_plus.gif" alt="" width="41" height="41" border="0" class="btn-plus" /></a>
                            <p>C3 is the SaaS platform built from scracth for Online Business. By replacing 3+ essential business tools with one integrated online platform, you can build exactly what your clients need... C3 is the SaaS platform built from scracth for Online Business.</p>
                        </div>
                        <div class="right-text"> <img src="images/img-4.png" alt="" width="483" height="325" border="0" />
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div id="fragment-4">
                        <div class="left-text">
                            <span class="slide-title"><strong>At <span>C3</span> we provide top notch design and analytics tools </strong> </span>
                            <a href="#"><img src="images/btn_plus.gif" alt="" width="41" height="41" border="0" class="btn-plus" /></a>
                            <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                        <div class="right-text">
                            <img src="images/img-3.png" width="483" height="325" alt="" />
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>

<!-- middle -->

