  <div class="navigation"> 

                        <div class="login">
                            <a href="#"><img src="images/btn-signup.gif" alt="Free Sign Up" width="175" height="55" border="0" /></a><a href="#"><img src="images/btn-plans.gif" alt="Plans and Pricing" width="135" height="55" border="0" /></a>
                            <p>Already registered? Then just <a href="#">Sign In</a></p>
                        </div>

                        <div class="testimonials">
                            <h3>What the people say?</h3>

                            <p class="quote">"Great, great changes to an already amazingly good software from C3. Thanks for making this so much more amazing"</p>
                            <p class="author"><strong>Jonathan Doe, CEO Company Name</strong></p>

                            <a href="#" class="btn-more">view more</a>
                        </div>

                        <div class="recent-posts">
                            <div class="recent-posts-top"></div>
                            <div class="space">
                                <h3>Recent Blog Posts</h3>
                                <ul>
                                    <li>
                                    <a href="#">Lorem ipsum dolor sit amet, consectetur</a>
                                    <div class="author">Steave Barnst <span>14-Feb-2010</span></div>
                                    </li>

                                    <li>
                                    <a href="#">One for all and all for one</a>
                                    <div class="author">Merlyn Johnes <span>14-Feb-2010</span></div>
                                    </li>

                                    <li>
                                    <a href="#">Technical Support just got better!</a>
                                    <div class="author">Mike Mayers <span>14-Feb-2010</span></div>
                                    </li>

                                    <li>
                                    <a href="#">Lorem ipsum dolor sit amet</a>
                                    <div class="author">C3Admin <span>14-Feb-2010</span></div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="clear"></div>

                    </div>
