<!-- middle --> 
                <div class="middle"> 
 
                    <!-- content -->     
                    <div class="wrapper"> 
                        <div class="content"> 
 
                            <!-- text content --> 
		    <div class="text"> 
<br /><br /><br /> 
                                <h1 class="blue"> ¿Olvidaste tu contraseña?</h1> 
 
                                <p> Por favor ingrese su dirección de correo electrónico y recibirá un mensaje </p> 
 
                                <div class="contact-form"> 
 
                                    <form action="/password_resets/create" method="get"> 
                                        <p class="inputtext"><label>Correo Electronico </label> <input name="email" id="email" value="" class="inputtext" size="60" type="text" /></p> 
                                        <div class="clear"></div> 
                                        <p class="btn-send text-right"> 
                                        <input value="Enviar" type="submit" />  
                                        </p> 
                                    </form> 
                                    <div class="clear"></div> 
 
                                </div>  
 
 
                            </div> 
                            <!--/ text content --> 
 
                        </div> 
                    </div> 
 
                    <!--/ content -->        
 
                    <div class="clear"></div> 
                </div> 
                <!--/ middle --> 
