  <!-- middle -->
                <div class="middle">

                    <!-- content -->     
                    <div class="wrapper">
                        <div class="content">

                            <!-- text content -->
                            <div class="text">

                                
                                      

                                <!--<div class="contact-form"> -->
                                  <div class="comment-form" id="addcomment">
 <DIV ALIGN="center">
                                <h1 class="blue">Registrarte</h1>
</div>

                                    <form action="" method="get">
                                    
                                       <DIV ALIGN="center">
                                        <table CELLSPACING="7">
                                        <tr><td>
                    <p class="inputtext"><input name="your-name" size="40" type="text" value="su nombre" onfocus="if (this.value == 'su nombre') {this.value = '';}" onblur="if (this.value == '') {this.value = 'su nombre';}" /></p>
                                        </td></tr>
                    
                                        <tr><td>
                    <p class="inputtext"><input name="your-email" class="inputtext" size="40" type="text" value="su correo" onfocus="if (this.value == 'su correo') {this.value = '';}" onblur="if (this.value == '') {this.value = 'su correo';}" /></p>
                                        </td></tr>
                                        
                                          <tr><td>
                    <p class="inputtext"><input name="your-email" class="inputtext" size="40" type="text" value="su contrasena" onfocus="if (this.value == 'su contrasena') {this.value = '';}" onblur="if (this.value == '') {this.value = 'su contrasena';}" /></p>
                                        </td></tr>                                                           </table>
                                                           </div>

                    <div class="clear"></div>

                                   
                                        <div class="clear"></div>
                                        <p> </p>
                                        
                                        <DIV ALIGN="center">
                                        <input type="checkbox" name="terms" /> 
				Estoy de acuerdo con los  <a href="/terms" title="Terms of Service">Terminos de Servicio</a> y <a href="/privacy" title="Privacy Policy">la Política de Privacidad</a>.
               
                                        <p> </p>
                                        
                                        <p class="btn-send">
                                        <!--<span class="notice-field"><em><strong>* mandatory fileds</strong></em></span> -->
                                        <input value="Listo" type="submit" /> 
                                         </div> 
                                        </p>
                                        
                                        
                                    </form>
                                    <div class="clear"></div>

                                </div>  


                            </div>
                            <!--/ text content -->

                        </div>
                    </div>

                    <!--/ content -->        

                    <!-- navigation -->        
                    <div class="navigation"> 


		<div class="left-menu"> 
            	<ul> 
                	<li class="active"><a href="#">Basico</a></li> 
                    <li><a href="#">Premio</a></li> 
                    <li><a href="#">Empresa</a></li> 
                </ul> 
            </div> 
            
               <div class="blogmenu">
               
                <div class="social-list"> 
                <!-- <a href="#"> <%= image_tag("images/social/twitter.gif", :width=>"33", :height=>"33") %> </a> -->
                 <a href="#"><img src="images/social/twitter.gif" alt="" width="33" height="33" border="0" /></a> 
                   <a href="#"><img src="images/social/in_social.gif" alt="" width="33" height="33" border="0" /></a>
                </div>
            </div>


                    </div>
                    <!--/ navigation -->

                    <div class="clear"></div>
                </div>
                <!--/ middle -->




