
    <!-- search -->  
                <div class="search">
                    <form id="search_form" method="get" action="">
                        <div class="wrap">
                        	<span id="activeSearch" class="active"><a href="#">Contacts</a><small>▼</small><input type="text" id="searchFilter" name="filter" value="Contacts"></span>
							<ul>
								<li><a href="#">Contacts</a></li>
								<li><a href="#">Companies</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Products</a></li>
							</ul>
                            <input type="text" data-default="search" name="search" value="search"></input>
                            <button type="submit" value="Search"></button>
                        </div>
                    </form>
                </div>
                <div class="clear"></div>
                <!--/ search -->  


