<div id="logindialog" style="display: none">                                                        
	<div id="ld-header">                                                        
		<h4 align="center"> Entrar</h4>                                                            
	</div>                                                                      
	<div id="ld-form">                                                          
		<table>                                                                   
 <% form_tag(signin_url, :method=>'post',  :name => "signin", :class => "signin" ) do %>

	<fieldset>			<tr>                                                                    
				<br />
<!-- <td colspan="2">Todos los campos son requeridos.</td> --> 
             			</tr>                                                                   
			<tr>  
				<td><label for="loginUsername">Username</label></td>                  
				<td>  <%= text_field_tag(:email, params[:email]) %>  <!-- <input type="text"  ></input> --></td>    
			</tr>                                                                   
			<tr>                                                                    
				<td><label for="loginPassword">Password</label></td>                  
				<td>   <%= password_field_tag(:password, params[:password]) %> <!-- <input type="password"  ></input>--> </td>
			</tr>                                                                   
			<tr>                                                                    
				<td colspan="2"><a href="#">Forgot password?</a></td>                 
			<tr>                                                                    
			<tr>                                                                    
				<td colspan="2" class="right-align">                                  
					<div class="clear-button btn-grey btn" onClick="closeFacebox();return false;">Cancel</div>   
					<div class="clear-button btn-grey btn" id="livequery" >Submit</div>    
<% submit_tag ("Submit") %>



				</td>
			<tr>                                                                    

<% end %>
        </fieldset> 		


</table>                                                                  
</div>      
</div>

