<div id="logindialog" style="display: none">                                                        
	<div id="ld-header">                                                        
		<h4 align="center"> Entrar</h4>                                                            
	</div>                                                                      
	<div id="ld-form">                                                          
		<table>                                                                   
			<tr>                                                                    
				<br />
<!-- <td colspan="2">Todos los campos son requeridos.</td> --> 
             			</tr>                                                                   
			<tr>  
				<td><label for="loginUsername">Username</label></td>                  
				<td><input type="text" id="email_login" name="loginUsername" ></input></td>    
			</tr>                                                                   
			<tr>                                                                    
				<td><label for="loginPassword">Password</label></td>                  
				<td><input type="password" id="password_login" name="loginPassword" ></input></td>
			</tr>                                                                   
			<tr>                                                                    
				<td colspan="2"><a href="#">Forgot password?</a></td>                 
			<tr>                                                                    
			<tr>                                                                    
				<td colspan="2" class="right-align">                                  
					<div class="clear-button btn-grey btn" onClick="closeFacebox();return false;">Cancel</div>                 
					<div class="clear-button btn-grey btn" onClick="login_send();return false;">Login</div>                  
				</td>
			<tr>                                                                    
		</table>                                                                  
</div>      
</div>

