<h1>Editing display</h1>

<% form_for(@display) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @display %> |
<%= link_to 'Back', displays_path %>