<script type="text/javascript">
jQuery(document).ready(function($){
options = { serviceUrl:'/contacts.js' };
$('#search').autocomplete(options);
});
</script>
  <!-- search -->  



  <!-- search -->  
                <div class="search"> 
                    <form id="search_form"> 
                        <div class="wrap"> 
                            <input id="search" type="text" data-default="search" value="search"></input> 
                            <button type="submit"></button> 
                        </div> 
                    </form> 
                </div> 
                <div class="clear"></div> 
                <!--/ search -->  


<%= render :partial => "shared/contact_display", :object => @contact_selected %>


