
<% @query = params[:search] %>

<div class="search">
<form id="search_form">
<div class="wrap">
<input type="text" data-default="search" value="" name="search"></input>
<button type="submit"></button>
</div>
</form>
</div>

<div class="clear"></div>
<!-- \search -->

<% if @contacts %> 
         
<%= render :partial => "shared/contactresults", :object => @contacts %>
         
<!-- \results -->

<% else %>   
      

<%= render :partial => 'shared/homepage' %> 
    
<% end %>



