<% @query = params[:search] %>
<div class="search">

<form id="search_form">
<div class="wrap">
<input id = "search" type="text" data-default="search" value="" name="search"></input>
<button type="submit"></button>
</div>
</form>

</div>
<div class="clear"></div>

<!-- \search -->


<% if @companies %>

<%= render :partial => "shared/companyresults", :object => @companies %>

<!-- \results -->

<% else %>


<%= render :partial => 'shared/homepage' %>

<% end %>
