	<table class="results">
			<thead>
				<tr>
					<td>Name</td><td>City/State</td>

				</tr>
			</thead>
                                		
			<tr class="entry even"><td>Lorem Ipsum</td><td>Lorem Ipsum</td></tr>
		<tr class="entry odd"><td>Lorem Ipsum</td><td>Lorem Ipsum</td></tr>
			<tr class="entry even"><td>Lorem Ipsum</td><td>Lorem Ipsum</td></tr>
			<tr class="entry odd"><td>Lorem Ipsum</td><td>Lorem Ipsum</td></tr>

			<tr class="entry even"><td>Lorem Ipsum</td><td>Lorem Ipsum</td></tr>
			<tr class="entry odd"><td>Lorem Ipsum</td><td>Lorem Ipsum</td></tr>
			<tr class="entry even"><td>Lorem Ipsum</td><td>Lorem Ipsum</td></tr>
			<tr class="entry odd"><td>Lorem Ipsum</td><td>Lorem Ipsum</td></tr>
				
		</table>

