		<ul class="filters">
			<li> <%= link_to 'Entrar', entrar_mobile_url %></li>

			<li class="selected"><a href="#"> Registrarse </a></li>
</ul>


<form class="login-signup signup">
	<label for="username"> Correo Electr칩nico </label>
	<input class="field" id="username"></input>
	<label for="password"> Contrase침a </label>
	<input class="field" id="password" type="password"></input>

	<label for="password-confirm"> Confirmaci칩n de Contrase침a </label>
	<input class="field" id="password-confirm" type="password"></input>
	
	<button> Listo </button>
</form>

<div class="terms">
	<a href="#">Terminos de Servicio</a>
</div>	


