		<ul class="filters">
			<li> <%= link_to 'Entrar', entrar_mobile_url %></li>

			<li class="selected"><a href="#"> Registrarse </a></li>
</ul>


<form class="login-signup signup">
	<label for="username"> Correo Electrónico </label>
	<input class="field" id="username"></input>
	<label for="password"> Contraseña </label>
	<input class="field" id="password" type="password"></input>

	<label for="password-confirm"> Confirmación de Contraseña </label>
	<input class="field" id="password-confirm" type="password"></input>

<div class="terms" align="center">Terms of Service</div>
        <textarea id="terms-of-service" class="terms" readonly="readonly"> Estos son los términos de servicio, que describen el uso de esta aplicación </textarea>
	
	<button> Listo </button>
</form>

<!--
<div class="terms">
	<a href="#">Terminos de Servicio</a>
</div>	
-->

