<h1>Password Reset Instructions</h1>

<p>
  Una petición de reseteo de clave se ha hecho. Si usted no hizo esta
  petición, ignore este email, de lo contrario, siga el enlace siguiente:
</p>

<%= link_to "Reset Password!", @edit_password_reset_url %>
