<div class="search">
<form id="search_form">
<div class="wrap">
<input type="text" data-default="search" value="" name="search"></input>
<button type="submit"></button>
</div>
</form>
</div>
<div class="clear"></div>


<%= render :partial => 'shared/plans' %>

<!--
<table>
  <tr>
  </tr>

<% @plans.each do |plan| %>
  <tr>
    <td><%= link_to 'Show', plan %></td>
    <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
    <td><%= link_to 'Destroy', plan, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
-->

<br />

