<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />
<title>Directorio</title>
<!-- 
<%= stylesheet_link_tag "stylesheet", "ie-7-only.css", "s2", "ui.tabs.css", "merge.eot", "merge.otf", "merge_font1.ttf", "merge_font2.ttf" %>
-->
<%= stylesheet_link_tag "s2" %>
<!-- "stylesheet", "ie-7-only.css", "ui.tabs.css", "jquery-ui-1.7.3.custom.css", :media => 'all' %>
-->
<%= javascript_include_tag 'jquery-1.3.2.min.js', 'ui.core.js', 'ui.tabs.js', 'application', 'jquery-ui-1.7.3.custom.min.js' %>
<%= controller_stylesheet_link_tag %>
</head>

<body>


        <!-- header --> 
        <div id="header"> 
            <div class="links"> 
                <ul id="search_categories"> 
                    <li class="active"><div>Products</div></li> 
                    <li><div>Services</div></li> 
                    <li><div>Contacts</div></li> 
                    <li><div>Companies</div></li> 
                </ul> 
                <ul class="site"> 
                    <li><a href="about.html">About</a></li> 
                    <li><span class="sep">|</span></li> 
                    <li><a href="#">Account</a></li> 
                    <li><span class="sep">|</span></li> 
                    <li><a href="#">Login</a></li> 
                </ul> 
            </div> 
        </div> 
        <!--/ header --> 
 
        <div class="bodywrap"> 

           <div class="container">  
               <div class="account-info"> 
                    Welcome, <a href="#">RebelKnack7</a> (<a href="#" title="Data contributed: 2">2</a>) <a href="#" class="unrated">Unrated</a> <span>Points: <a href="#">10</a></span> 
                </div> 
 
                <!-- search -->  
                <div class="search"> 
                    <form id="search_form"> 
                        <div class="wrap"> 
                            <input type="text" data-default="search" value="search"></input> 
                            <button type="submit"></button> 
                        </div> 
                    </form> 
                </div> 
  		<div class="clear"></div> 
                <!--/ search -->  
 
                <!-- middle --> 
                <div class="middle"> 
 
                    <!-- content -->     
                    <div class="wrapper"> 
                        <div class="content"> 
 
                            <!-- text content --> 
                            <div class="text"> 
 
                                <h1 class="blue">Got something to say? Please drop us a line</h1> 
 
                                <p>Drop us a line and we will get back to you in 2 Business days.</p> 
 
                                <p>We look forward to hearing feedback from our clients. <br /> 
                                Please let us know if we can be of any assistance and we’d be happy to help.</p> 
 
 
                                <div class="contact-form"> 
 
                                    <form action="" method="get"> 
                                        <p class="inputtext"><label>Name *</label> <input name="your-name" value="" size="40" type="text" /></p> 
                                        <p class="inputtext"><label>Email *</label> <input name="your-email" value="" class="inputtext" size="40" type="text" /></p> 
                                        <p class="inputtext"><label>Company</label> <input name="your-subject" value="" class="inputtext" size="40" type="text" /></p> 
                                        <p class="inputtext"><label>Country</label> <input name="your-subject" value="" class="inputtext" size="40" type="text" /></p> 
                                        <div class="clear"></div> 
                                        <p class="textarea"><label>Message *</label> <textarea name="your-message" cols="40" rows="10"></textarea></p> 
                                        <p class="btn-send text-right"> 
                                        <span class="notice-field"><em><strong>* mandatory fileds</strong></em></span> 
                                        <input value="Send Message" type="submit" /> 
 
                                        </p> 
                                    </form> 
                                    <div class="clear"></div> 
 
                                </div>  
 
 
                            </div> 
                            <!--/ text content --> 
 
                        </div> 
                    </div> 
 
                    <!--/ content -->        
 
                    <!-- navigation -->        
                    <div class="navigation"> 
 
 
                        <div class="contact-info"> 
                            <h3>Address &amp; Contact Info</h3> 
 
                            <div class="row"> 
                                345 Lincoln Park Ave.<br /> 
                                San Jose, CA 9342-2244
                            </div> 
 
                            <div class="row">                
                                Phone: <span class="blue">(800) 833 - 6687</span><br /> 
                                Fax: &nbsp;&nbsp;&nbsp; <span class="blue">(800) 477 - 3487</span> 
                            </div> 
 
                            <div class="row"> 
                                Email:   <span class="blue"><a href="mailto:contact@softco.net">contact@softco.net</a></span> 
                            </div> 
 
                            <p> 
                            <a href="#">www.website.com</a><br /> 
                            <a href="#">www.ourblog.com</a></p> 
 
                        </div> 
 
 
                    </div> 
                    <!--/ navigation --> 
 
                    <div class="clear"></div> 
                </div> 
                <!--/ middle --> 
 
 
            </div> 
            <!--/ container -->    
 
 
            <!-- footer --> 
            <div class="footer"> 
                <div class="container"> 
 
                    <div class="cols fcol-1"> 
                        <h3>Links</h3> 
                        <ul> 
                            <li><a href="#">Homepage</a></li> 
                            <li><a href="#">Take the Tour</a></li> 
                            <li><a href="#">Plans &amp; Pricing</a></li> 
                            <li><a href="#">About us</a></li> 
                        </ul> 
                    </div> 
 
                    <div class="cols fcol-2"> 
                        <h3>Our Products</h3> 
                        <ul> 
                            <li><a href="#">Basecramp</a></li> 
                            <li><a href="#">Analytics Groove</a></li> 
                            <li><a href="#">VideoMate</a></li>  
                        </ul> 
                    </div> 
 
                    <div class="cols fcol-3"> 
                        <h3>Support</h3> 
                        <ul> 
                            <li><a href="#">F.A.Q.</a></li> 
                            <li><a href="#">Live IM chat</a></li> 
                            <li><a href="#">Forums</a></li>  
                            <li><a href="#">Contribute</a></li> 
                        </ul> 
                    </div> 
 
                    <div class="cols fcol-4"> 
                        <h3>Get in touch</h3> 
                        <ul> 
                            <li><a href="#">Feedback</a></li> 
                            <li><a href="#">Contact</a></li> 
                            <li><a href="#">Business inquiry</a></li> 
                            <li><a href="#">Partnership</a></li> 
                        </ul> 
                    </div> 
 
                    <div class="cols fcol-5"> 
                        <h3>Follow us on</h3> 
 
                        <div class="icons-fallow"> 
                            <a href="#"><img src="images/icon-facebook.gif" alt="Fallow us on Facebook" width="93" height="35" border="0" /></a> <a href="#"><img src="images/icon-twitter.gif" alt="allow us on Twitter" width="40" height="39" border="0" /></a> 
                        </div> 
 
                        <div class="copyright"> 
                            <p>Copyright  &copy;  2010 C3 Business <br /> 
                            All the respective rights reserved</p> 
                        </div> 
 
                    </div> 
 
 
                </div> 
            </div> 
            <!--/ footer --> 
 
        </div> 

</body>
</html>

